<nav class='mt-3'>
  <span class='page-name fw-bold py-3 px-3'>
    Accounts
    <span class='float-end fw-normal'>
      <a class='navlink active'>Overview</a>
      <a class='navlink'>Reports</a>
    </span>
  </span>
</nav>